<!DOCTYPE html>
<HTML>
  <head>
    <title>Homepage</title>
  </head>
  <body>
    <h1>Input the Following into the Text Boxes</h1>
    <form action = "/reg" method="POST" id="cat">
      Username: <input type="text" name="user">
      Password: <input type="password" name="password">
      <br>
      <button type="submit" form="cat" value="reg" name="submit">Register</button>
      <button type="submit" form="cat" value="log" name="submit">Log In</button>   
    </form> 
    <h1>{{message}}</h1>
</HTML>
