<!DOCTYPE html>
<HTML>
  <head>
    <title>Homepage</title>
  </head>
  <body>
    <h1>Register</h1>
    <form action = "/reg" method="POST">
      Username: <input type="text" name="user">
       Password: <input type="password" name="password">
       <input type="submit" name="DONE">
    </form>
    <h1>Login</h1>
    <form action = "/authenticate" method="POST">
      Username: <input type="text" name="user">
       Password: <input type="password" name="password">
       <input type="submit" name="DONE">
    </form>
  <h1>{{message}}</h1>
</HTML>
